# Essential runtime libraries
python-dotenv>=1.0.0
pinecone-client==3.2.2
streamlit
sentence-transformers>=2.2.2
transformers
torch>=2.6.0
unstructured[all-docs]
pdf2image>=1.16.3
pypdf>=3.15.1
tiktoken>=0.5.1
streamlit-authenticator==0.2.2
pyyaml>=6.0

# LangChain packages
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
pydantic
